
.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
 
  .footer {
    color: #f2f2f2;
    padding: 25px;
  }

 .jumbotron {
   background-color: red;
   font-family: 'Caveat';
 }

 .jumbotron h1{
   font-size: 80px;
 }

 .jumbotron p{
   font-size: 40px;
 }
 
.transbox{
  margin-left: 70px;
  margin-right: 70px;
  box-shadow: inset 100px 200px rgba(255, 255, 255, 0.2);
}

div.transbox p {
  margin: 25%;
  font-weight: bold;
  color: #000000;
}


 body h3{
   font-family: 'Caveat';
   font-size: 40px;
 }
  body {
    font-family: Tahoma, Geneva, sans-serif;
    color: black;
    background:  url(assets/background_photo.jpg) no-repeat fixed top center;
    padding: 0;
    margin: 0;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    -o-background-size: 100% 100%;
}